name: 'marketplace'

services:
  web:
    build: .
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static-data:/app/web/static
      - media-data:/app/web/media
    ports:
#      - 127.0.0.1:8000:8000
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${SQL_USER}
      - POSTGRES_PASSWORD=${SQL_PASSWORD}
      - POSTGRES_DB=${SQL_DATABASE}
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${SQL_USER} -d ${SQL_DATABASE}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  nginx:
    build: nginx
    volumes:
      - static-data:/app/web/static
      - media-data:/app/web/media:ro
    ports:
      - 80:80
    depends_on:
      - web

volumes:
  postgres-data:
  static-data:
  media-data:
